@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Outfit:wght@100;300 & display=swap');

/***************************
        MAIN.CSS
****************************/

*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --lite: rgba(255, 255, 255, 0.6);
    --gray: rgba(1, 1, 1, 0.6);
    --dark: #232323;
    --primary: #ff4500;
    --primary_dark: #ef1c21;
    --primary_lite: #fe8118;
    --secondary: #3399ff;
    --secondary_dark: #0079d3;
    --title_font: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}

/***************************
            DEFAULT
****************************/
body {
    margin: 0;
    overflow-x: hidden;
    font-family:sans-serif;
}

.search-box {
    background: #ff6600;
    height: 35px;
    padding: 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    width: 0;
    transition: .5s;

}

.search-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;


}

.search-box:hover>.search-txt {
    width: 90px;
    padding: 0 6px;
}

.search-box:hover>.search-button {
    background: white;
}

a {
    text-decoration: none;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a,
button {
    transition: 0.5s;
}

em {
    font-style: normal;
    color: var(--primary_dark);
}

figure {
    padding: 0;
    margin: 0;
}

a,
p,
.btn {
    font-size: 15px;
}

p {
    line-height: 1.9em;
    color: var(--gray);
}

a,
button,
input,
textarea,
select {
    outline: none !important;
}

fieldset {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

label input {
    display: none;
}



.title,
.sub_title {
    font-family: var(--title_font);
    font-weight: 600;
    margin: 0;
}

.flex {
    display: flex;
}

.blog-grid .control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    object-fit: cover;
    margin: 13px;
    border-radius: 50%;
}

.slider {
    display: flex;
    width: 1000px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.slider-post {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}



.flex_content {
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
}

.padding_1x {
    padding: 1rem;
}

.padding_2x {
    padding: 2rem;
}

.padding_3x {
    padding: 3rem;
}

.padding_4x {
    padding: 4rem;
}

.big {
    font-size: 3.5em;
}

.medium {
    font-size: 2em;
}

.small {
    font-size: 1.3em;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    position: relative;
    border: 0;
    text-align: center;
    font-weight: 600;
}

.btn_1 {
    background: var(--primary);
    color: var(--white);
}

.btn_1:hover {
    opacity: 0.8;
}

.btn_2 {
    background-color: var(--dark);
    color: var(--color);
}

.btn_2:hover {
    opacity: 0.9;
    color: var(--white);
}

.btn_3 {
    display: block;
    background-color: 0;
    color: var(--white);
    position: relative;
    font-family: var(--default_font);
    font-weight: 400;
    text-transform: uppercase;
}

.btn_3:before {
    content: "";
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    transform: translate(0%, -50%);
}

.btn_3:after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: 5px;
}

.btn_3:hover:before {
    border-radius: 40px;
    width: 100%;
}

.divisions {
    position: relative;
}

.title_header {
    margin: auto;
    text-align: center;
    width: 60%;
}

.ball:before {
    content: "";
    border-radius: 50%;
    background-color: rgba(1, 1, 1, 0.2);
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}






@media (max-width:920px) {
    .blog-grid {
        flex-direction: row;
    }
    

    .slider {

        width: 500px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .flex {
        flex-wrap: wrap;
    }

    .padding_1x,
    .padding_2x,
    .padding_3x,
    .padding_4x {
        padding: 1rem;
    }

    .big {
        font-size: 1.8em;
    }

    .medium {
        font-size: 1.6em;
    }

    .small {
        font-size: 1.1em;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    a,
    p,
    .btn {
        font-size: 12px;
    }

    .title_header {
        width: 100%;
    }
}



/***************************
        ANIMATE.CSS
****************************/


/***************************
        DEFAULT
****************************/
body {
    background-color: #f1f1f1;
}

/***************************
          MAIN
****************************/
main .left_division,
main .right_division {
    width: 50%;
}

@media (max-width:920px) {

    main .left_division,
    main .right_division {
        width: 100%;
    }

    main .left_division {
        display: none;
        order: 2;
    }

    main .middle_division {
        order: 1;
    }

    main .right_division {
        display: none;
        order: 3;
    }
}



/***************************
      LEFT DIVISION
****************************/
.blocks {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2vh;
}

.block_1 {
    background-color: var(--white);
    border: 1px solid rgba(1, 1, 1, 0.1);
}

.block_footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 0.1rem 1rem;
    text-align: right;
}

.block_footer a {
    color: var(--gray);
    font-size: 11px;
}

.post_row {
    margin: 0;
    padding: 0.5rem 0;
}

.post_row a {
    align-items: center;
    width: 100%;
}

.block_1 a:not(:last-child) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.block_1 img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    background-color: var(--gray);
    border-radius: 5px;
    border: 1px solid rgba(1, 1, 1, 0.1);
}

.block_1 .post_row .sub_title {
    position: relative;
    top: 10px;
    color: var(--dark);
}

.block_1 .post_row p {
    font-size: 12px;
}

.block_2 ul {
    margin: 0;
    padding: 1rem 0;
}

.block_2 li {
    align-items: center;
    padding: 0.5rem 0;
}

.block_2 li .sub_title {
    align-items: center;
    font-size: 13px;
    font-family: var(--default_font);
}

.block_2 li .sub_title a {
    font-size: 13px;
    color: #3399ff;
}

.block_2 .sub_title mark {
    background-color: #c0c0c0;
    padding: 0.1rem 0.2rem;
    margin: 0 5px;
    color: var(--gray);
    text-align: center;
    font-size: 10px;
    font-family: var(--title_font);
    font-weight: 400;
}

.block_2 .user_id img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width:1080px) {
    .block_2 .sub_title mark {
        display: none;
    }
}

@media (max-width:920px) {
    .block_1 .sub_title {
        font-size: 10px;
    }

    .block_2 li .sub_title a,
    .block_2 .sub_title mark {
        font-size: 12px;
    }

    .block_2 .sub_title mark {
        margin: 0 5px;
    }
}

/***************************
      MIDDLE DIVISION
****************************/

/*header*/


.middle_division .nav fieldset {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 5px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    background-color: #000028;
    position: relative;
}

.middle_division .nav fieldset aside,
.middle_division .nav fieldset aside a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    border-radius: 40px;
    padding: 0.2rem 0.6rem;
    font-family: var(--title_font);
}

.middle_division .nav fieldset aside a {
    margin: 6px;
}

.middle_division .nav fieldset aside a b {
    font-weight: 500;
    color: white;
}

.middle_division .nav fieldset a {
    position: relative;
}

.middle_division .nav fieldset aside a:hover {
    background-color: #f1f1f1;

}

.middle_division .nav fieldset aside a b:hover {
    color: black;
}

.middle_division .nav fieldset aside a iconify-icon {
    font-size: 20px;
}

.middle_division .nav fieldset aside .active {
    background-color: #d2f0ff;
}

.middle_division .nav fieldset img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.middle_division .nav fieldset .dot {
    position: absolute;
    bottom: 5px;
    right: 2px;
    z-index: 1;
}


.middle_division .container {
    margin: 4vh auto;
}

/*menu mobile*/
.nav {
    width: 100%;
    background-color: #000028;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
  }
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
  }
  .nav > #nav-check {
      display: none;
  }
  @media (max-width: 500px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      padding-top: 0.2rem;
    }
   
    .nav .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #ff6600;
      cursor: pointer;

    }
    .nav > .nav-list {

      position: absolute;
      display: flex;
      flex-direction: column;
      width: 70%;
      background-color: #000028;
      height: 0;
      transition: all 0.3s ease-in;
      top: 90px;
      left: 16px;
      overflow: hidden;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(60vh - 50px);
    }
  }


/*post card*/
.card-post {
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(1, 1, 1, 0.1);
    margin: 2vh auto;
    padding: 2vh 2.5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post_card {
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(1, 1, 1, 0.1);
    margin: 2vh auto;
}

.post_card:hover {
    border: 1px solid rgba(1, 1, 1, 0.2);
}

.post_card iconify-icon {
    margin-right: 3px;
}

.post_card .user_details {
    align-items: center;
}

.post_card .user_details img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.post_card .user_details .sub_title {
    position: relative;
    top: 13px;
}

.post_card .user_details .sub_title a {
    color: #3399ff;
    font-size: 12px;
    margin-left: 10px;
}

.post_card .user_details figcaption p {
    font-size: 11px;
    color: var(--gray);
}

.post_card .user_details figcaption p b {
    margin-left: 10px;
}

.post_card .content {
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post_card .content::-webkit-scrollbar {
    width: 0 !important;
}

.post_card .title {
    color: #505050;
}

.post_card .title:hover {
    color: var(--dark);
}

.post_card .post_image {
    width: 100%;
    overflow: hidden;
}

.post_card .post_image img {
    width: 100%;
    height: 100%;
}

.post_card .icons {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.post_card .icons a {
    padding: 0.1rem 0.6rem;
    display: flex;
    align-items: Center;
    color: var(--gray);
    font-family: var(--title_font);
    border-radius: 40px;
}

.post_card .icons a:hover {
    background-color: #f1f1f1;
}

.post_card .icons .votes {
    border-radius: 40px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    overflow: hidden;
    margin-right: 10px;
}

.post_card .icons .votes a {
    padding: 0.2rem 0.5rem;
    border-radius: 0;
}

.post_card .icons .votes a:first-child {
    border-right: 1px solid rgba(1, 1, 1, 0.1);
}

.post_card .dropdown {
    position: relative;
}

.post_card .dropdown_content {
    position: absolute;
    bottom: 2rem;
    border-radius: 2px 2px 0 2px;
    right: 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--white);
    display: none;
}

.post_card .dropdown_content:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0px;
    bottom: -16px;
    color: var(--white);
    font-size: 26px;
}

.post_card .dropdown_content a {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0px;
}

.footer-2-2-3-links {
    display: flex;
    justify-content: space-between;
}

.footer-2-2-3-links img {
    width: 25px;
}

.img-footer {
    width: 50px;
}

@media (max-width:920px) {
    .post_card .content {
        max-height: 40vh;
    }
}



/***************************
      RIGHT DIVISION
****************************/
.right_division .block_1 figure img {
    width: 100%;
    height: 100px;
    border-radius: 0;
    object-fit: cover;
    border: 0;
}

.right_division .blocks p {
    position: relative;
    top: -10px;
}

.right_division .blocks .btn {
    width: 100%;
    border-radius: 40px;
    display: block;
}

.footer {
    background-color: #000028;
    padding: 80px 0;
}

small {
    color: white;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cont-text{
    text-align: justify;
}
.post_card .blog-img{
    display: flex;
    justify-content: center;
}


.post_card h1{
    font-size: 30px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul{
    padding: 0;
    list-style-type: none;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff6600;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 7px;
}

.footer-col .social-links a {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #FFF;
}

@media(max-width: 767px) {

    .footer-col,
    small {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {

    .footer-col,
    small {
        width: 100%;
    }
}

.cookies-msg {
    width: 80%;
    background-color: #e9e9e9;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
}

.cookies-msg.mostrar {
    display: block;
}

.cookies-msg .cookies-txt {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;

}

.cookies-msg .cookies-btn {
    margin-left: 30px;

}

.cookies-msg .cookies-btn button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
}

.cookies-msg .cookies-btn button:hover {
    transform: scale(0.9);
}

.cookies-txt p {
    color: black;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 900px) {
    footer {
        padding: 35px 0px;
    }

    footer .footer-main .footer-content {
        flex-direction: column;
        row-gap: 30px;
    }

    footer .footer-main .footer-content .footer-1,
    footer .footer-main .footer-content .footer-2 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    footer .footer-main .footer-content .footer-2 {
        flex-direction: column;
        row-gap: 25px;
    }

    footer .footer-main .footer-content .footer-2 .footer-f1,
    footer .footer-main .footer-content .footer-2 .footer-f2 {
        width: 100%;
    }

    .cookies-msg .cookies-btn {
        margin-left: 0;
    }

    .cookies-msg .cookies-txt {
        flex-direction: column;
    }
}

.blog {
    transition: .2s;
}

.blog:hover {
    opacity: 0.8;
    transform: scale(0.98);
}

.blog-grid {
    display: flex;
    justify-content: center;
    align-items: center;

}

.blog-grid .blog {
    margin: 0 20px;

}

.blog-img img {
    border-radius: 5px;
    margin: 10px 0;

}

.blog-author-img img {
    width: 50px;

}

.blog .blog-content .blog-details {
    display: flex;
    align-items: center;

}

.blog .blog-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 20px 0;
}

.blog-title {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;

}

.blog-desc {
    margin: 0;
    font-size: 12px;
    color: black;

}

.link-artigo {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 1150px) {
   
    section {
        flex-direction: column;
        align-items: center;
    }

    section.blog-single .blog {
        flex-direction: column;
    }

    section.blog-single .blog .blog-img {
        width: 100%;
    }

    section .blog .blog-content {
        row-gap: 10px;
    }

    section .blog .blog-content .blog-details {
        margin-top: 5px;
    }

    .blog-grid {
        flex-direction: row;
    }

}

/*edition page op-sug*/
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.input{
    color: #000;
    width: 550px;
    height: 40px;
    border: none;
    border-radius: 10px;

}
.input:hover{
    border: 1px solid black;
}
textarea{
    width: 550px;
    height: 100px;
    border: none;
}

.edit{
    margin: 15px 0;
    padding: 10px;

}
.container-2{
    display: flex;
    justify-content: center;
}
.button{
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #000028;
    color: white;
    border-radius: 10px;
}
.button:hover{
    background-color:#ff6600;

}
@media (max-width: 500px){
    .input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
}